@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--begin::Card-->

<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="flaticon2-bell text-primary"></i>
            </span>
            <h3 class="card-label">Reservations</h3>
        </div>
        
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-separate table-head-custom collapsed" id="kt_datatable">
            <thead>
                <tr>
                    <th>
                        ReservationId
                    </th>
                    <th>
                        ReservationUI
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        TransportDate
                    </th>
                    <th>
                        CostCenterNumber
                    </th>
                    <th>
                        MRN
                    </th>
                    <th>
                        PatientFirstName
                    </th>
                    <th>
                        PatientLastName
                    </th>
                    <th>
                        PickupAddress
                    </th>
                    <th>
                        PickupCity
                    </th>
                    <th>
                        PickupZip
                    </th>
                    <th>
                        ContactPhone
                    </th>
                    <th>
                        DestinationAddress
                    </th>
                    <th>
                        DestinationCity
                    </th>
                    <th>
                        DestinationZip
                    </th>
                    <th>
                        OfficePhone
                    </th>
                    <th>
                        TransportType
                    </th>
                    <th>
                        PickupTime
                    </th>
                    <th>
                        AppointmentTime
                    </th>
                    <th>
                        ReturnTime
                    </th>
                    <th>
                        Comments
                    </th>
                    <th>
                        RequestedBy
                    </th>
                    <th>
                        CallBackNumber
                    </th>
                    <th>
                        CreatedOn
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->