@{
}
<div id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading h-100">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        
        <!--begin::Login-->
        <div class="login login-2 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid" id="kt_login">
            <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url(/media/bg/bg-8Light2.png);">

                <div class="text-center text-white p-7 position-relative overflow-hidden my-33 bg-primary" style="border-radius:1rem;">

                    <!--begin::Login Sign in form-->
                    <div class="login-form login-signin">

                        <form class="form" novalidate="novalidate" id="kt_login_signin_form">
                            <div class="mb-5">
                                <h2>Reset Password</h2>
                                <p class="opacity-60 font-weight-bold">Enter your details to login to your account:</p>
                            </div>
                            <div class="form-group">
                                <input id="signupPassword" class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8" type="password" placeholder="Password" name="password" />
                            </div>
                            <div class="form-group text-center mt-10">
                                <button id="kt_login_signin_submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">Reset Password</button>
                            </div>
                        </form>
                        <div class="mt-10">
                            <span class="opacity-70 mr-4">Don't have an account yet?</span>
                            <a id="kt_login_signup" class="text-white font-weight-bold">Sign Up</a>
                            <p>@Model.Email</p>
                        </div>
                    </div>
                    <!--end::Login Sign in form-->
                </div>
            </div>
        </div>
        <!--end::Login-->
    </div>
    <!--end::Main-->
</div>
@section Scripts {
<!--begin::Page Scripts(used by this page)-->
<script src="~/plugins/login-general.js"></script>
<!--end::Page Scripts-->
    <script>$("#kt_login_signin_submit").click(function (event) {
    $("#kt_login_signin_submit").addClass(["pr-15", "spinner", "spinner-success", "spinner-right"])
            var password = $("#signupPassword").val();
            var Cpassword = $("#signupPassword").val();
            var userdata = {
                "newPassword": password,
                "confirmPassword": Cpassword,
                "token": '@Model.Token',
                "email": '@Model.Email',
            };
            var data = JSON.stringify(userdata);
            if (password != "") {
                $.ajax({
                    type: "post",
                    data: JSON.stringify(userdata),
                    url: "/Home/ResetPassword",
                    contentType: "application/json",
                    success: function (result, status) {
                        if (status == "success") {
                            location.href ="/Home/Index"
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        $("#kt_login_signin_submit").removeClass(["pr-15", "spinner", "spinner-success", "spinner-right"])
                        Swal.fire("Invalid user!", "Please try again", "error");
                    }
                });
            }
            });
    </script>
}