@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-12">
        <!--begin::Card-->
        <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
                <h3 class="card-title">Trip Request Form</h3>
                <div class="card-toolbar">

                </div>
            </div>
            <!--begin::Form-->
            <form method="post" asp-action="SchduleTrip" asp-controller="home">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    Department
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Department" name="Department" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    Patient Name
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Patient First Name" name="PatientFirstName" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    Patient Name
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Patient Last Name" name="PatientLastName" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    Date of Transport
                                    <span class="text-danger">*</span>
                                </label>
                                <div class=" col-sm-12">
                                    <div class="input-group w-100">
                                        <input type="text" class="form-control" readonly="readonly" value="05/20/2017" id="kt_datepicker_3" name="TransportDate" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    Cost Center #
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="number" class="form-control" placeholder="Cost Center Number" name="CostCenterNumber" />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    MRN #
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="number" class="form-control" placeholder="MRN" name="MRN" />
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    PickupAddress
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="PickupAddress" name="PickupAddress" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    PickupCity
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="PickupCity" name="PickupCity" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    PickupZip
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="int" class="form-control" placeholder="PickupZip" name="PickupZip" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    ContactPhone
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="ContactPhone" name="ContactPhone" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    DestinationAddress
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="DestinationAddress" name="DestinationAddress" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    DestinationCity
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="DestinationCity" name="DestinationCity" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    DestinationZip
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="DestinationZip" name="DestinationZip" />
                            </div>
                        </div><div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    OfficePhone
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="OfficePhone" name="OfficePhone" />
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    Comment
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Comments" name="Comments" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    RequestedBy
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="RequestedBy" name="RequestedBy" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    CallBackNumber
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="CallBackNumber" name="CallBackNumber" />
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="form-group mb-2">
                                <label for="exampleSelect1">
                                    TransportType
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" id="exampleSelect1" name="TransportType">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>
                                Pick up Time
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group timepicker">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="la la-exclamation-circle"></i>
                                    </span>
                                </div>
                                <input class="form-control" id="kt_timepicker_4" readonly="readonly" value="10:30:20 AM" type="datetime" name="PickupTime" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>
                                Appointment Time
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group timepicker">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="la la-exclamation-circle"></i>
                                    </span>
                                </div>
                                <input class="form-control" id="kt_timepicker_4" readonly="readonly" value="10:30:20 AM" type="datetime" name="AppointmentTime"/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-6">
                                    <label>Return Time</label>
                                    <div class="input-group timepicker">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="la la-exclamation-circle"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" id="kt_timepicker_4" readonly="readonly" value="10:30:20 AM" type="datetime" name="ReturnTime"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-2">
                                <label>
                                    Reservation UI
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" placeholder="Reservation UI" name="ReservationUI"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary float-right">SCHEDULE TRIP</button>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Card-->

    </div>

</div>